@import url("../root.css");
/* define a cor html com a variável --color-white */
html {
    background: var(--color-white);
}
/* define a altura do body como 100% da viewport */
body {
    min-height: 100vh;
    background: var(--color-white);
}
/* form onde o usuário faz a pesquisa*/
form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
}
/* div com o input e o botão de pesquisa*/
.pesquisaInput {
    padding: 1rem 1.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 200px;
    color: var(--color-primary);
    display: flex;
    min-width: 70%;
}
/* texto que o usuário escreveu no input */
.textPesquisa {
    font-family: var(--font-family);
    color: var(--color-grey-dark);
}
/* icone de filtro */
.filter-i {
    color: var(--color-grey-dark);
}
/* input para a pesquisa */
input[type="text"] {
    outline: 0;
    margin-left: 1rem;
    border: none;
    background-color: transparent;
    flex-grow: 1;
    width: 100%;
    font-size: 16px;
}
/* div que aparece todos os resultados para a pesquisa */
#resultados {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--color-grey-dark);
}
/* div com um resultado de tabela */
.area_resultados {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 20px;
}

.area_resultados:hover {
    cursor: pointer;
    background: var(--color-primary-click);
    transition: .5s ease-in;
}

/* nav com os elementos da paginação */
footer{
    width: 100%;
    background: var(--color-white);
}

#paginacao {
    width: 100%;
    background: var(--color-white);
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5rem;
    margin-bottom: -1rem;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    justify-content: center;
    display: flex;
}
